<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tennis Scoreboard | Finished Matches</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/app.js"></script>
</head>

<body>
<header class="header">
    <section class="nav-header">
        <div class="brand">
            <div class="nav-toggle">
                <img src="images/menu.png" alt="Logo" class="logo">
            </div>
            <span class="logo-text">TennisScoreboard</span>
        </div>
        <div>
            <nav class="nav-links">
                <a class="nav-link" href="/">Главная</a>
                <a class="nav-link" href="/matches">Матчи</a>
            </nav>
        </div>
    </section>
</header>
<main>
    <div class="container">
        <h1>Законченные матчи</h1>
        <div class="input-container">
            <input class="input-filter" placeholder="Поиск по имени" type="text" />
            <div>
                <a href="/matches">
                    <button class="btn-filter">Сброс</button>
                </a>
            </div>
        </div>

        <table class="table-matches">
            <tr>
                <th>Player One</th>
                <th>Player Two</th>
                <th>Winner</th>
            </tr>
            {% for match in matches %}
            <tr>
                <td>{{ match.player_one }}</td>
                <td>{{ match.player_two }}</td>
                <td><span class="winner-name-td">{{ match.winner }}</span></td>
            </tr>
            {% endfor %}
        </table>

        <div class="pagination">
            {% if pagination.prev_page %}
                <a class="prev" href="{{ pagination.prev_page.url }}"> &lt; </a>
            {% else %}
                <a class="prev disabled" href="#"> &lt; </a>
            {% endif %}

            {% for page in pagination.pages %}
                {% if page.is_current %}
                    <a class="num-page current" href="{{ page.url }}">{{ page.number }}</a>
                {% else %}
                    <a class="num-page" href="{{ page.url }}">{{ page.number }}</a>
                {% endif %}
            {% endfor %}

            {% if pagination.next_page %}
                <a class="next" href="{{ pagination.next_page.url }}"> &gt; </a>
            {% else %}
                <a class="next disabled" href="#"> &gt; </a>
            {% endif %}
        </div>
    </div>
</main>
<!-- <footer>
    <div class="footer">
        <p>&copy; Tennis Scoreboard, project from <a href="https://zhukovsd.github.io/java-backend-learning-course/">zhukovsd/java-backend-learning-course</a>
            roadmap.</p>
    </div>
</footer> -->
</body>
</html>
