<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tennis Scoreboard | New Match</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="js/app.js"></script>
</head>
<body>
<header class="header">
    <section class="nav-header">
        <div class="brand">
            <div class="nav-toggle">
                <img src="images/menu.png" alt="Logo" class="logo">
            </div>
            <span class="logo-text">TennisScoreboard</span>
        </div>
        <div>
            <nav class="nav-links">
                <a class="nav-link" href="/">Главная</a>
                <a class="nav-link" href="/matches?page=1">Матчи</a>
            </nav>
        </div>
    </section>
</header>
<main>
    <div class="container">
        <div>
            <h1>Начать новый матч</h1>
            <div class="new-match-image"></div>
            <div class="form-container center">
                <form method="post" action="/new-match" data-async>
                    <!-- <p style="color: red;">Sample error message</p> -->
                    <label class="label-player" for="playerOne">Первый игрок</label>
                    <input class="input-player" placeholder="Имя" type="text" required title="Enter a name"
                    name="playerOne" required>

                    <label class="label-player" for="playerTwo">Второй игрок</label>
                    <input class="input-player" placeholder="Имя" type="text" required title="Enter a name"
                    name="playerTwo" required>

                    <input class="form-button" type="submit" value="Начать">
                </form>
            </div>
        </div>
    </div>
</main>
<!-- <footer>
    <div class="footer">
        <p>&copy; Tennis Scoreboard, project from <a href="https://zhukovsd.github.io/java-backend-learning-course/">zhukovsd/java-backend-learning-course</a> roadmap.</p>
    </div>
</footer> -->
</body>
</html>
